# Full dataset
data/health_queries.csv
data/nhs_unigram.txt

# FastText models
wiki.en.bin
wiki.en.vec
wiki.en.zip
wiki.simple.bin
wiki.simple.vec
wiki.simple.zip

# logs
*.log

# pyCharm, pycache, ...
.idea/*
__pycache__/*
.DS_Store
